:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #649aff;
  text-decoration: inherit;
}
a:hover {
  color: #619FB7;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 500px;
  min-height: 100vh;
  background-image: 
    url('./assets/hololive_bkg.png'),
    linear-gradient(135deg, rgba(141, 236, 251, 0.5), rgba(51, 153, 255, 0.5));
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-attachment: fixed;
  min-height: 100vh;
  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button:hover {
  border-color: #619FB7;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} 

.card {
  padding: 2em;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.p-toast-top-center {
  max-width: 255px !important;
}


.p-accordioncontent-content, .p-accordionpanel-active {
  background-color: rgba(0,0,0,0.4);
  border-color: rgba(255,255,255,0.2)
}

.p-accordionpanel {
  background-color: transparent !important;
  border-color: transparent;
  border-radius: 2px;
}

.p-accordionpanel:not(.p-accordionpanel-active):not(.p-disabled) > .p-accordionheader:hover {
  background-color: rgba(0,0,0,0.4);
}

.p-accordionpanel:not(.p-disabled).p-accordionpanel-active > .p-accordionheader {
  background-color: rgba(0,0,0,0.4);
}

.p-accordionheader {
  background-color: rgba(0,0,0,0.4);
}

.p-dataview-content {
  background: transparent;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
